.body{
    font-family: Arial;
  }
  .contenedor {
    border-radius: 30px;
    padding:20px;
    background-color: #1467aa;
  }
  .titulo {
    text-align:center;
  }
  .tareas {
    text-align:center;
    background-color: rgb(13, 175, 154);
    border-radius: 30px;
    padding:10px;
  }
  .escritura {
    text-align:center;
    background-color: rgb(209, 64, 173);
    border-radius: 30px;
    padding:10px;
  }
