<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario con Flask</title>
</head>

<body>
    <form method="POST" action="{{url_for('procesar')}}">
        <input name="nombre" required type="text" placeholder="Nombre">
        <br><br>
        <input name="edad" required type="number" placeholder="Edad">
        <br><br>

        <label for="accion">Seleccione una acción:</label>
        <select name="accion" id="accion">
            <option value="1">Saludar</option>
            <option value="2">Presentarse</option>
            <option value="3">Despedirse</option>
        </select>
        <br><br>

        <input type="submit" value="Enviar">
    </form>
</body>

</html>