<!DOCTYPE html>
<html lang="es">

  <head>
    <title>Ejemplo de aplicación hecha en Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ejemplo.css') }}">
  </head>

  <body>
    <div class="contenedor">

      <div class="titulo">
        <h1>¡Bienvenidos a mi página Web!</h1>
        <hr>
      </div>

      <div class="tareas">
        <h2>Flask es un microframework web </h2> 
        <p>En esta página abordaremos como crear una aplicacion web en Flask</p>
      </div>

    </div>
    <!-- <script src="{{ url_for('static', filename='js/ejemplo.js') }}"></script> -->
  </body>

</html>